#root {
  padding: 2rem;
}

h1 {
  margin-bottom: 20px;
}

table[data-slot="gridsheet"] {
  --gs-border: 1px solid #ddd;

  --gs-color-active: #1976d2;
  --gs-color-bg: #90caf9;
  --gs-color-selected-bg: #e3f2fd;
  --gs-color-header-bg: #f5f5f5;
  --gs-color-header-selected-bg: #bbdefb;

  border: var(--gs-border);
  border-collapse: collapse;

  th,
  td {
    border: var(--gs-border);
    padding: 8px 12px;
    min-width: 80px;
  }

  th {
    background-color: var(--gs-color-header-bg);
    font-weight: 600;

    &[data-selected] {
      background-color: var(--gs-color-header-selected-bg);
    }
  }

  td[data-selected] {
    background-color: var(--gs-color-selected-bg);
  }

  td[data-active] {
    outline: 2px solid var(--gs-color-active);
    outline-offset: -2px;
  }
}
